<div class="row">
        <div class="col-md-6">
          <h3>Archived Event Templates</h3>
        </div>
        <div class="col-md-6">
          <a href="create_new_event_type.html" class="btn btn-success btn-sm pull-right topLevel">New event template</a>
          <a class="btn btn-success btn-sm pull-right topLevel">Show event templates</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <button type="button" class="btn btn-default btn-xs plus">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    Boots Coaching Capability(5, 08.30)
                    </a>
                    <a class="btn btn-default btn-xs pull-right grey">Create new event</a>
                    <a class="btn btn-default btn-xs pull-right grey">Edit</a>
                    <a class="btn btn-default btn-xs pull-right grey">Delete</a>
                    <a class="btn btn-primary btn-xs pull-right unarchive">Unarchive</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table>
                      <tr>
                        <td>
                          <span class="eventTitle" data-toggle="tooltip" data-placement="bottom" title="Portsmouth">
                            Portsmouth, BV001 - October 10, 2011 (0, 08:30)
                          </span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="eventTitle" data-toggle="tooltip" data-placement="bottom" title="Winchester">
                            Winchester - October 11, 2011 (1, 05:30)
                          </span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="eventTitle" data-toggle="tooltip" data-placement="bottom" title="Chichester">
                            Chichester, BV002 - October 12, 2011 (3, 07:00)
                          </span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="eventTitle" data-toggle="tooltip" data-placement="bottom" title="Basingstoke">
                            Basingstoke - October 24, 2011 (2, 08:30)
                          </span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="eventTitle" data-toggle="tooltip" data-placement="bottom" title="Warwick">
                            Warwick - July 3, 2012 (2, 08:30)
                          </span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      <button type="button" class="btn btn-default btn-xs plus">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                      Britvic Action Learning Sessions(3, 05.00)
                    </a>
                    <a class="btn btn-default btn-xs pull-right grey">Create new event</a>
                    <a class="btn btn-default btn-xs pull-right grey">Edit</a>
                    <a class="btn btn-default btn-xs pull-right grey">Delete</a>
                    <a class="btn btn-primary btn-xs pull-right unarchive">Unarchive</a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table>
                      <tr>
                        <td>Portsmouth, BV001 - October 10, 2011 (0, 08:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Winchester - October 11, 2011 (1, 05:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Chichester, BV002 - October 12, 2011 (3, 07:00)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    Client meeting(0, 01.00)
                    <a class="btn btn-default btn-xs pull-right grey">Create new event</a>
                    <a class="btn btn-default btn-xs pull-right grey">Edit</a>
                    <a class="btn btn-default btn-xs pull-right grey">Delete</a>
                    <a class="btn btn-primary btn-xs pull-right unarchive">Unarchive</a>
                  </h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                      <button type="button" class="btn btn-default btn-xs plus">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                      Coach in a Box Learning Day(4, 04.00)
                    </a>
                    <a class="btn btn-default btn-xs pull-right grey">Create new event</a>
                    <a class="btn btn-default btn-xs pull-right grey">Edit</a>
                    <a class="btn btn-default btn-xs pull-right grey">Delete</a>
                    <a class="btn btn-primary btn-xs pull-right unarchive">Unarchive</a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table>
                      <tr>
                        <td>Portsmouth, BV001 - October 10, 2011 (0, 08:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Winchester - October 11, 2011 (1, 05:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Chichester, BV002 - October 12, 2011 (3, 07:00)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Winchester - October 11, 2011 (1, 05:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                      <button type="button" class="btn btn-default btn-xs plus">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                      Coach in a Box Workshop(4, 03.30)
                    </a>
                    <a class="btn btn-default btn-xs pull-right grey">Create new event</a>
                    <a class="btn btn-default btn-xs pull-right grey">Edit</a>
                    <a class="btn btn-default btn-xs pull-right grey">Delete</a>
                    <a class="btn btn-primary btn-xs pull-right unarchive">Unarchive</a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table>
                      <tr>
                        <td>Portsmouth, BV001 - October 10, 2011 (0, 08:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Winchester - October 11, 2011 (1, 05:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Chichester, BV002 - October 12, 2011 (3, 07:00)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Winchester - October 11, 2011 (1, 05:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                      <button type="button" class="btn btn-default btn-xs plus">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                      Hertz Regional Managers Launch Session (2, 082.30)
                    </a>
                    <a class="btn btn-default btn-xs pull-right grey">Create new event</a>
                    <a class="btn btn-default btn-xs pull-right grey">Edit</a>
                    <a class="btn btn-default btn-xs pull-right grey">Delete</a>
                    <a class="btn btn-primary btn-xs pull-right unarchive">Unarchive</a>
                  </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table>
                      <tr>
                        <td>Portsmouth, BV001 - October 10, 2011 (0, 08:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Winchester - October 11, 2011 (1, 05:30)</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventEdit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs eventDelete">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>

              <!-- HIDDEN EVENT -->
              <div class="panel panel-default eventListNew">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    Client meeting(0, 01.00)
                    <a class="btn btn-default btn-xs pull-right grey">Create new event</a>
                    <a class="btn btn-default btn-xs pull-right grey">Edit</a>
                    <a class="btn btn-default btn-xs pull-right grey">Delete</a>
                    <a class="btn btn-primary btn-xs pull-right unarchive">Unarchive</a>
                  </h4>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- HTML TO FILL EVENT POPOVER -->
    <div id="eventPopoverContent" style="display: none">
      <table border="1" class="eventPopoverTable">
        <tr>
          <td>
            <img src="img/avatar.gif" width="50">
          </td>
          <td>
            <p>Name</p>
            <p>Email</p>
            <p>Calendar</p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="button" class="btn btn-success btn-xs pull-right">Email All</button>
          </td>
        </tr>
      </table>
    </div>
