<div class="container search">
  <form class="navbar-form pull-right" role="search" action="/search_templates_by_name" method="post">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Event Templates" name="search" id="srch-term">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" name="action" value="GO"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
  </form>

<div class="btn-group btn-group-xs pull-right">
  <% for letter in [*'A'..'Z'] %>
    <button type="button" class="btn btn-default">
      <a href="/search_templates_by_letter/<%= letter %>"><label id="<%= letter %>"><%= letter %></label></a>
    </button>
  <% end %>
</div> <!--class="btn-group btn-group-xs pull-right" -->
</div> <!--class="container search" -->

<div class="container mainContent createNewEvent marginTop55">
  <form id="myForm">
        <input type="hidden" name="addEvent" value="addEvent">
        <div class="row">
          <div class="col-md-12">
            <h3>Edit New Boots Coaching Capability Event</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <h4>Event Details</h4>
            <label>Subtitle (Location or Reference)</label>
            <input type="text" class="form-control" placeholder="Boots Havant" name="title">
            <label>Date</label>
            <div class="form-group">
              <div class="input-group date datePicker">
                <input type='text' class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <label>Event Details</label>
            <textarea class="form-control descript"></textarea>
          </div>
          <div class="col-md-3">
            <h4>Coaches Fee</h4>
            <div class="currencies coachesFee">
              <label>GBP</label>
              <input type="text" class="form-control" placeholder="600" name="gbp">
              <br>
              <label>SGD</label>
              <input type="text" class="form-control" placeholder="800" name="sgd">
              <br>
              <label>AUD</label>
              <input type="text" class="form-control" placeholder="0.00" name="aud">
            </div>
            <h4>Income Details</h4>
            <div class="currencies incomeDetails">
              <label>Income Amount</label>
              <input type="text" class="form-control" placeholder="600" name="gbp">
              <br>
              <label>Income Currency</label>
              <input type="text" class="form-control" placeholder="800" name="sgd">
              <br>
              <label>Expenses Code</label>
              <input type="text" class="form-control" placeholder="0.00" name="aud">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Local start time</label>
            <br>
            <select class="form-control startTime">
              <option>00</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
            </select>
            :
            <select class="form-control startTime">
              <option>00</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
              <option>32</option>
              <option>33</option>
              <option>34</option>
              <option>35</option>
              <option>36</option>
              <option>37</option>
              <option>38</option>
              <option>39</option>
              <option>40</option>
              <option>41</option>
              <option>42</option>
              <option>43</option>
              <option>44</option>
              <option>45</option>
              <option>46</option>
              <option>47</option>
              <option>48</option>
              <option>49</option>
              <option>50</option>
              <option>51</option>
              <option>52</option>
              <option>53</option>
              <option>54</option>
              <option>55</option>
              <option>56</option>
              <option>57</option>
              <option>58</option>
              <option>59</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Duration</label>
            <input type="text" class="form-control" value="08:30" name="gbp">
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label>Timezone</label>
            <br>
            <select class="form-control">
              <option>(GMT+00:00) London</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Cohort</label>
            <br>
            <select class="form-control">
              <option></option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9 assignCoaches">
            <h4>Assign Coaches</h4>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-default">A</button>
              <button type="button" class="btn btn-default">B</button>
              <button type="button" class="btn btn-default">C</button>
              <button type="button" class="btn btn-default">D</button>
              <button type="button" class="btn btn-default">E</button>
              <button type="button" class="btn btn-default">F</button>
              <button type="button" class="btn btn-default">G</button>
              <button type="button" class="btn btn-default">H</button>
              <button type="button" class="btn btn-default">I</button>
              <button type="button" class="btn btn-default">J</button>
              <button type="button" class="btn btn-default">K</button>
              <button type="button" class="btn btn-default">L</button>
              <button type="button" class="btn btn-default">M</button>
              <button type="button" class="btn btn-default">N</button>
              <button type="button" class="btn btn-default">O</button>
              <button type="button" class="btn btn-default">P</button>
              <button type="button" class="btn btn-default">Q</button>
              <button type="button" class="btn btn-default">R</button>
              <button type="button" class="btn btn-default">S</button>
              <button type="button" class="btn btn-default">T</button>
              <button type="button" class="btn btn-default">U</button>
              <button type="button" class="btn btn-default">V</button>
              <button type="button" class="btn btn-default">W</button>
              <button type="button" class="btn btn-default">X</button>
              <button type="button" class="btn btn-default">Y</button>
              <button type="button" class="btn btn-default">Z</button>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4 multiVals">
            <select id="leftValues" name="leftValues" class="mutiSelect" size="10" multiple>
              <option>Lorem ipsum</option>
              <option>Dolor sit amet</option>
              <option>consectetur adipisicing</option>
              <option>do eiusmod</option>
              <option>tempor incididunt</option>
              <option>dolore magna aliqua</option>
              <option>Minim veniam</option>
              <option>nostrud exercitation</option>
              <option>ullamco laboris</option>
              <option>nisi ut aliquip</option>
              <option>commodo consequat</option>
              <option>Duis aute</option>
            </select>
          </div>
          <div class="col-md-1 multiControls">
            <center>
              <input type="button" id="btnRight" value="&gt;&gt;" />
              <input type="button" id="btnLeft" value="&lt;&lt;" />
            </center>
          </div>
          <div class="col-md-4 multiVals">
            <select id="rightValues" class="mutiSelect" size="10" multiple>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input class="btn btn-success pull-right" type="submit" value="Create Template">
            <input class="btn btn-default btn-xs pull-right" type="submit" value="Cancel">
          </div>
        </div>
      </form>
