<form action="home_page_after_event.html">
  <input type="hidden" name="addEvent" value="addEvent">
  <div class="row">
    <div class="col-md-12">
      <h3>Create New Event Template</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Title" name="title">
      <label>Duration</label>
      <input type="text" class="form-control" placeholder="Duration" name="duration">
      <label>Default Coach Fee</label>
      <div class="currencies">
        <label>GBP</label>
        <input type="text" class="form-control" placeholder="0.00" name="gbp">
        <label>EUR</label>
        <input type="text" class="form-control" placeholder="0.00" name="eur">
        <label>USD</label>
        <input type="text" class="form-control" placeholder="0.00" name="usd">
        <label>AUD</label>
        <input type="text" class="form-control" placeholder="0.00" name="aud">
        <label>SGD</label>
        <input type="text" class="form-control" placeholder="0.00" name="sgd">
      </div>
    </div>
    <div class="col-md-6">
      <label>Description</label>
      <textarea class="form-control descript"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input class="btn btn-success pull-right apply" type="submit" value="Create Template">
      <a href="index.html" class="btn btn-default btn-xs pull-right cancel">Cancel</a>
    </div>
  </div>
</form>
